* 
{
    box-sizing: border-box;
    transition: all 0.3s;
}

body, html
{
    margin: 0;
    padding: 0;
}

body
{
    font-family: 'Segoe UI', sans-serif;
    font-size: 13px;
}

main#cuerpo
{
    background-color:rgb(11, 5, 29);
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
    color: #111;
}

#forma_prueba
{
    background-color: rgb(218, 235, 235);
    border-radius: 11px;
    height: 400px;
    margin: 0;
    padding: 17px;
    width: clamp(300px, 92%, 420px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

    #forma_prueba button
    {
        background: #34275C;
        border:solid 1px #EEE;
        border-radius: 3px;
        font-weight: bold;
        color: #75689C;
        cursor: pointer;
        margin: 0;
        padding: 13px 21px;
        align-self: flex-end;

    }

        #forma_prueba button:hover
        {
            background: #75689C;
            color: #34275C;
        }
        
    #forma_prueba input
    {
        background-color: rgba(80, 82, 82, 0.4);
        border: none;
        border-left: solid 4px #75689C;
        color: #75689C;
        margin: 0;
        padding: 13px 21px;
        width: 100%;
    }

    #forma_prueba input:focus
    {
        transform: scale(1.1);
    }

    #forma_prueba label
    {
        color: #75689C;
        display: block;
        font-size: 0.9em;
        margin-bottom: 5px;
    }
    #forma_prueba .cont-campos
    {
        width:100%;
    }
    